---
import Logo from "~/assets/logo.svg";
import "~/styles/global.css";
---

<html lang="en" class="bg-stone-50 text-stone-800 dark:bg-stone-950 dark:text-stone-50">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon/x-icon" href="/favicon.ico" />
  </head>
  <body class="flex flex-col justify-center items-center h-screen">
    <div class="space-y-4 max-w-md m-4 md:mx-auto">
      <a href="https://emetselch.xyz/" class="flex items-center space-x-2 rtl:space-x-reverse">
        <Logo class="text-red-600 h-12 w-12" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
          Emet-Selch<span class="text-red-600">.</span>
        </span>
      </a>
      <h1 class="text-4xl font-bold flex items-center justify-start gap-2">Oops. Network Error</h1>
      <p class="text-lg text-gray-700 dark:text-gray-300">
        Emet-Selch may have pulled the wrong plug... or maybe you took a wrong turn in the Aetherial
        Sea.
      </p>
      <ul class="text-sm text-gray-500 dark:text-gray-400 list-disc list-inside mt-4 space-y-1">
        <li>The page may have been renamed or deleted.</li>
        <li>Or perhaps it never existed at all — just a memory, like myself.</li>
      </ul>
    </div>
  </body>
</html>
